/* color palette from <https://github.com/vuejs/theme> */
:root {
    --vt-c-white: #ffffff;
    --vt-c-white-soft: #f8f8f8;
    --vt-c-white-mute: #f2f2f2;

    --vt-c-black: #181818;
    --vt-c-black-soft: #222222;
    --vt-c-black-mute: #282828;

    --vt-c-indigo: #2c3e50;

    --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
    --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
    --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
    --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

    --vt-c-text-light-1: var(--vt-c-indigo);
    --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
    --vt-c-text-dark-1: var(--vt-c-white);
    --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);

    --default-font-size: 18px;
    --default-font-weight: 700;
    --default-font-strong-weight: 700;
    --font-size-body: 15px;
    --font-size-body-m: 14px;
    --line-height-body-m: 20px;
    --font-family-base: "Open Sans", "Helvetica Neue", "Roboto", "Arial", "sans-serif";
    --font-button-weight: 700;
    --font-smoothing-webkit: antialiased;
    --font-smoothing-moz-osx: grayscale;
    --font-button-letter-spacing: .005em;
    --border-radius-container: 10px;
    --border-radius-input: 10px;
    --border-radius-button: 20px;
    --border-field-width: 2px;
    --space-scaled-xxs: 4px;
    --space-button-horizontal: 20px;
    --color-text-body-default: #000716;
    --color-background-normal-hover: #f2f8fd;
    --color-background-button-normal-hover: #f2f8fd;
    --color-background-dropdown-normal-hover: #f2f8fd;
    --color-text-button-normal-hover: #033160;
    --color-border-button-normal-hover: #033160;
    --color-text-link-default: #0972d3;
    --color-text-link-hover: #033160;
    --color-text-breadcrumb-current: #5f6b7a;
    --color-text-breadcrumb-spilt: #5f6b7a;
    --color-background-button-normal-default: #fff;
    --color-background-menu-default: #f0f8ff;
    --color-text-button-normal-default: #0972d3;
    --color-border-button-normal-default: #0972d3;
    --color-border-text-normal-default: #0972d3;

    --grid-gap-5: 5px;
    --grid-gap-10: 10px;
}

/* semantic color variables for this project */
:root {
    --color-background: var(--vt-c-white);
    --color-background-soft: var(--vt-c-white-soft);
    --color-background-mute: var(--vt-c-white-mute);

    --color-border: var(--vt-c-divider-light-2);
    --color-border-hover: var(--vt-c-divider-light-1);

    --color-heading: var(--vt-c-text-light-1);
    --color-text: var(--vt-c-text-light-1);

    --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background: var(--vt-c-black);
        --color-background-soft: var(--vt-c-black-soft);
        --color-background-mute: var(--vt-c-black-mute);

        --color-border: var(--vt-c-divider-dark-2);
        --color-border-hover: var(--vt-c-divider-dark-1);

        --color-heading: var(--vt-c-text-dark-1);
        --color-text: var(--vt-c-text-dark-2);
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}