@import './base.css';
@import './transform.css';

html,
body {
    height: 100%;
    overflow-y: hidden;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    position: relative;
}

#vu3-app-main {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#public-links {
    padding: 10px 0;
    font-size: 18px;
}

.vu3-app {
    height: 100%;
    overflow-y: auto;
}

.vueapp-container {
    grid-gap: 5px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-items: stretch;
    align-items: stretch;
    padding: 5px;
}

.vueapp-layer {
    text-align: left;
    border: 1px solid #6acbe3;
    border-radius: 5px;
    padding: 20px;
    overflow: hidden;
    white-space: nowrap;
}

a,
.green {
    text-decoration: none;
    color: hsla(160, 100%, 37%, 1);
    transition: 0.4s;
}

@media (hover: hover) {
    a:hover {
        background-color: hsla(160, 100%, 37%, 0.2);
    }
}

@media (min-width: 1024px) {}

/* detail page */
.detail-full-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
}

.detail-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: left;
    width: 100%;
    font-size: 18px;
    background-color: aliceblue;
}

.detail-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    height: 60px;
}

.detail-item-lable {
    display: flex;
    border-radius: 10px;
    align-content: center;
    flex-wrap: wrap;
    line-height: 18px;
}

.detail-item-content {
    display: flex;
    line-height: 18px;
    border-radius: 10px;
    align-content: center;
    flex-wrap: wrap;
}