@import './base.css';
@import './transform.css';

html {
    color: var(--vt-c-indigo);
    font-family: Avenir, Helvetica, Arial, sans-serif;
    height: 100%;
    overflow-y: hidden;
    position: relative;
    text-align: center;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

body {
    background: var(--color-background);
    color: var(--color-text);
    font-family: var(--font-family-base);
    font-size: var(--font-size-body);
    height: 100%;
    min-height: 100%;
    line-height: 1.6;
    overflow-y: hidden;
    position: relative;
    text-align: center;
    text-rendering: optimizeLegibility;
    transition: color 0.5s, background-color 0.5s;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

#vue3-app-main {
    display: flex;
    height: 100%;
    flex-direction: column;
    position: relative;
}

.vueapp-container {
    align-items: stretch;
    display: grid;
    grid-gap: var(--grid-gap-5);
    grid-template-columns: auto auto auto auto;
    justify-items: stretch;
    padding: 5px;
}

.vueapp-layer {
    border: 1px solid #6acbe3;
    border-radius: 5px;
    overflow: hidden;
    padding: 20px;
    text-align: left;
    white-space: nowrap;
}

a,
.green {
    color: hsla(160, 100%, 37%, 1);
    text-decoration: none;
    transition: 0.4s;
}

@media (hover: hover) {
    a:hover {
        background-color: hsla(160, 100%, 37%, 0.2);
    }
}

@media (min-width: 1024px) {}

/* detail page */
.detail-full-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
}

.detail-container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: left;
    width: 100%;
    font-size: 18px;
    background-color: aliceblue;
}

.detail-item {
    display: flex;
    flex-direction: row;
    margin: 10px;
    min-height: 40px;
}

.detail-item-lable {
    display: flex;
    border-radius: 10px;
    align-content: center;
    flex-wrap: wrap;
    line-height: 18px;
}

.detail-item-content {
    display: flex;
    line-height: 18px;
    border-radius: 10px;
    align-content: center;
    flex-wrap: wrap;
}

.icon-base {
    height: 20px;
    width: 20px !important;
    line-height: 20px;
    position: relative;
    margin: 0px 10px;
}

.icon-base>svg {
    fill: none;
    pointer-events: none;
    stroke-width: 2px;
    stroke-linecap: square;
    stroke: currentColor;
    height: 100%;
    width: 100%;
}

.stroke-linecap-square {
    stroke-linecap: square;
}

.stroke-linejoin-round {
    stroke-linejoin: round;
}

textarea {
    width: 100%;
    height: 100%;
    font-size: var(--default-font-size);
    border: 1px solid var(--color-border-text-normal-default);
    border-radius: var(--border-radius-input);
    line-height: 24px;
    text-align: left;
    padding: 10px;
}

input {
    font-size: var(--font-size-body-m);
    border: 1px solid var(--color-border-text-normal-default);
    border-radius: var(--border-radius-input);
}

input[type="number"] {
    line-height: 30px;
}

input[type="file"] {
    padding-block: var(--space-scaled-xxs);
    padding-inline: var(--space-button-horizontal);
    line-height: 16px;
    white-space: nowrap;
}